@font-face {
 font-family: Verdana;
  src: url("assets/fonts/Verdana.ttf");
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

body {
	font-family: 'Verdana', sans-serif;
	background: #8261ae;
	color: #d5b9fb;
	min-height: 100vh;
	margin: 0; padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
* {
    box-sizing: border-box;
  }
  .header {
	  border: 1px solid #d5b9fb;
  }
  .main {
	  border: 1px solid #d5b9fb;
  }
  .footer {
	  border: 1px solid #d5b9fb;
	  padding-bottom: 50px;
	  padding-left: 50px;
	  padding-right: 50px;
	  padding-top: 50px;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav {
  }
  .nav-list {
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;
	  list-style: none;
  }
  
  .nav-item {
  }
  
  .nav-link {
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
	transition: .3s;
	color: #d5b9fb;
  }
  
  a {
	  color: #d5b9fb;
  }
  
  a:hover {
	  color: #e57cff;
	  transition: color 0.5s;
	  cursor: pointer;
  }
  
  html {
  scroll-behavior: smooth; 
}
  
  .section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}

.section-item a:hover {
  color: #4d2323;
}

.section {
	padding-left: 30px;
}

.section-profile {
display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 1px 20px 400px;
}

.header-profile {
padding-bottom: 5px;
padding-left: 30px;
}
.section-title {

}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.userpic {
  text-align: right;
  padding-left: 850px;

}

.border {
	border: 1px solid #d5b9fb;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: ./assets/svg/logo.png;
  background-size: contain;
  background-repeat: no-repeat;
}